<div id="products">
	<h1>Products Section</h1>
	<% @products.each do |product| %>
		<%= div_for product do %>
			<p class="product" onclick="addItemToCart('<%= product.title %>','<%= h(product.price) %>')">
				<img src='/assets/<%= product.picture %>' height="42" width="42">
				<strong> <%= product.title %></strong>
				<%= product.producer %>
				<br />
				<%= '$' + h(product.price) %>
			</p>
		<% end %>
	<% end %>
</div>
<div id="users">
	<h1>Users Section</h1>
	<% @users.each do |user| %>
		<%= div_for user do %>
			<p>
				<%= user.name %>
			</p>
		<% end %>
	<% end %>
	<h1>Shopping Cart</h1>
	<ul id="itemList">
		<% @product_orders.each do |product_order| %>
			<li class='cart-item' onclick="removeItemFromCart(this, '<%= product_order.price %>')">
        <%= product_order.title %><%= '   $' + product_order.price%>
      </li>
		<% end %>
	</ul>
	<p id='subTotal'>Subtotal: $<span id="subTotalAmount"><%= @product_total %></span> </p>
</div>
